@media (max-width: 850px) {

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 10px;
    }

    .headericonwrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .topnav {
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        position: sticky;
        padding-left: 20px;
        width: 62%;
        /* top: 20; */
        justify-content: space-between;
        justify-content: center;
        /* justify-self: center; */
        /* padding: 0; */
        z-index: 2;
        background-color: darkgray;
    }

    .topnav a {
        padding-bottom: 30px;
        margin-top: 10px;
        font-size: 25px;
        text-decoration: none;
        padding-top: 30px;
    }

    .topnav button {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 7px;
        border-width: 0px;
        margin-left: 5px;
    }


    a.icon {
        background: black;
        display: block;
        position: fixed;
        color: #fff;
        font-size: 27px;
        text-decoration: none;
        text-align: center;
        right: 20px;
        top: 20px;
        height: 35px;
        width: 40px;
        z-index: 2;
    }

    #mytopnav {
        display: none;
        position: fixed;
    }

    .compareicon {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logacc {
        display: flex;
        flex-direction: column;
    }

}