@media (max-width: 850px) {

    header,
    .bankingcards {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .indexcenter,
    .indexcentertwo {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 0 50px 0;
    }



    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 10px;
    }

    .headericonwrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .topnav {
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        position: sticky;
        padding-left: 20px;
        width: 100%;
        padding-left: 66px;
        /* top: 20; */
        justify-content: space-between;
        justify-content: center;
        /* justify-self: center; */
        /* padding: 0; */
        z-index: 2;
        background: rgba(255, 255, 255, 0.3);
        /* Semi-transparent white */
        backdrop-filter: blur(10px);
        /* Adjust blur intensity */
        -webkit-backdrop-filter: blur(10px);
    }

    .topnav a {
        margin-bottom: 30px;
        font-weight: 600;
        margin-top: 10px;
        font-size: 30px;
        text-decoration: none;
        margin-top: 30px;
        width: fit-content;
        height: fit-content;
    }

    .topnav button {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 7px;
        border-width: 0px;
    }


    a.icon {
        /* background: black; */
        display: block;
        position: fixed;
        color: black;
        font-size: 24px;
        text-decoration: none;
        text-align: center;
        right: 20px;
        top: 20px;
        height: 35px;
        width: 40px;
        z-index: 3;
    }

    #mytopnav {
        display: none;
        position: fixed;
    }

    .compareicon {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logacc {
        display: flex;
        flex-direction: column;
        margin-left: -20px;
        width: 200px;
    }

    .logacclogin {
        padding: 12px 16px;
    }

    .topnav button {
        margin-top: 20px;
    }

    .bankingvisa {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .bankingvisa img {
        width: 80%;
    }

    .oneaccount,
    .intantturpis,
    .sendpaypal,
    .instantwide,
    .laptopplus,
    .notificationavailable,
    .toolswide {
        display: flex;
        flex-direction: column;
        width: 358px;
        gap: 20px;
        justify-content: center;
    }

    .loremicon {
        display: flex;
        flex-direction: column;
        width: 358px;
        gap: 15px;
    }

    .iconturpise {
        width: 100%;
    }

    .iconninehundred,
    .iconninehundredtwo,
    .sendlorem p,
    .loremicon p,
    .notificationavailable p,
    .notificationicon p {
        width: 358px;
    }

    .iconninehundredtwo p {
        width: 90%;
    }

    .iconloremtwo {
        display: flex;
        flex-direction: column;
        /* justify-self: start; */
        width: 100%;
    }

    .oneaccount img,
    .laptopplus img {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 70%;
    }

    .newfourhundred {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .webcoin,
    .webflowpay {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }



}