* {
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    font-style: normal;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
    font-family: "poppins", sans-serif;
    font-style: normal;

}

/* .headericonwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: aqua;
} */

footer {
    padding-left: 120px;
    padding-right: 120px;
    font-family: "poppins", sans-serif;
    font-style: normal;
}

.indexcenter {
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 50px;
    /* padding-bottom: 50px; */
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: rgb(3, 198, 155);
}

.logacc {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: flex-end; */
}

nav a {
    width: 87;
    height: 43;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    opacity: 1;
    border-radius: 6px;
    color: black;
}

.compareicon {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.topnav {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    width: 70%;
}

a.icon {
    display: none;
}

.logacclogin {
    color: #5BB5A2;
    width: 43;
    height: 18;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;

}

.logaccopenaccount {
    background: #5BB5A2;
    height: 39;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 10px;
    opacity: 1;
    border-radius: 6px;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.bankingvisa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.bankingvisa img {
    width: 40%;
}

.bankingcards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.bhere {
    width: 80%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
}

.bankingcards p {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0%;
}

.instantbanking {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.instantwide {
    display: flex;
    flex-direction: row;
    /* gap: 80px; */
    width: 100%;
    justify-content: space-between;
}

.iconinstant {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.iconinstant span {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0%;
}

.opancards {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.opancardsspan {
    color: #FFFFFF;
    background: #5BB5A2;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;
    width: 166;
    height: 50;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 10px;
    opacity: 1;
    border-radius: 6px;
}

.ccardicon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ccardicon span {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;
    width: 166;
    height: 50;
    padding-top: 16px;
    padding-right: 18px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 10px;
    opacity: 1;
    color: #5BB5A2;
}