* {
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    font-style: normal;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
    font-family: "poppins", sans-serif;
    font-style: normal;

}

/* .headericonwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: aqua;
} */

footer {
    padding-left: 120px;
    padding-right: 120px;
    font-family: "poppins", sans-serif;
    font-style: normal;
}

.indexcenter {
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.indexcentertwo {
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #E8F2EE;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: rgb(3, 198, 155);
}

.logacc {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: flex-end; */
}

nav a {
    width: 87;
    height: 43;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    opacity: 1;
    border-radius: 6px;
    color: black;
}

.compareicon {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.topnav {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    width: 70%;
}

a.icon {
    display: none;
}

.logacclogin {
    color: #5BB5A2;
    width: 43;
    height: 18;
    opacity: 1;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -3%;
    border: 0;
    border-radius: 6px;
}

.logaccopenaccount {
    background: #5BB5A2;
    height: 39;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 10px;
    opacity: 1;
    border-radius: 6px;
    border: 0;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.bankingvisa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.bankingvisa img {
    width: 40%;
}

.bankingcards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.bankingcardstwo {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bhere {
    width: 80%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
}

.bheretwo {
    width: 95%;
    /* height: 220; */
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.onebanking {
    width: 70%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 55px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
}

.onebankingtwo {
    width: 90%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
}

.onebankingfour {
    width: 90%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
    text-align: center;
}

.onebankingthree {
    width: 45%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
}

.loremicon p {
    width: 45%;
    opacity: 1;
    font-size: 15.5px;
    font-weight: 500;
    font-style: Medium;
    /* font-size: 48px; */
    line-height: 160%;
    letter-spacing: -3%;
}

.bankingcards p {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0%;
}

.bankingcardstwo p {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 150%;
}

.sendlorem p {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0%;
}

.instantbanking {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.instantbankingtwo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 120%;
}

.instantwide {
    display: flex;
    flex-direction: row;
    /* gap: 80px; */
    width: 100%;
    justify-content: space-between;
}

.instantwidetwo {
    display: flex;
    flex-direction: row;
    /* gap: 80px; */
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.iconinstant {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.iconinstanttwo {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.iconinstant span {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0%;
}

.iconinstanttwo span {
    color: #FFFFFF;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0%;
}

.opancards {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.opancardstwo {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10px;
    margin-top: -10px;
}

.opancardsspan {
    color: #FFFFFF;
    background: #5BB5A2;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;
    width: 166;
    height: 50;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 10px;
    opacity: 1;
    border-radius: 6px;
}

.opancardsspantwo {
    color: #FFFFFF;
    background: #5BB5A2;
    font-weight: 600;
    font-style: Medium;
    font-size: 15px;
    /* line-height: 100%; */
    /* letter-spacing: -3%; */
    width: 166;
    /* height: 30; */
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 10px;
    opacity: 1;
    border-radius: 6px;
}

.ccardicon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ccardiconthree {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ccardicontwo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ccardicon span {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;
    width: 166;
    height: 50;
    padding-top: 16px;
    padding-right: 18px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 10px;
    opacity: 1;
    color: #5BB5A2;
}

.ccardiconthree span {
    font-weight: 600;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -3%;
    /* width: 166;
    height: 50; */
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    /* gap: 10px; */
    opacity: 1;
    color: #5BB5A2;
    border: #add7ce 0.5px solid;
    border-radius: 9px;
}

.ccardicontwo span {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;
    width: 166;
    height: 50;
    /* padding-top: 16px;
    padding-right: 18px;
    padding-bottom: 16px;
    padding-left: 24px; */
    gap: 10px;
    opacity: 1;
    color: #5BB5A2;
}

.oneaccount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oneaccount img {
    width: 35%;
    height: 70%;
}

.oneturpis {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
}

.intantturpis {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.iconturpise {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    /* height: 300px; */
    gap: 16px;
    opacity: 1;
    border-radius: 16px;
    border-width: 2px;
    padding: 22px;
    border: 2px solid #E8E8E8
}

.iconturpise span {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -3%;
}

.iconturpise p {
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0%;
}

.sendpaypal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sendlorem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.notificationicon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.iconlorem {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.iconloremtwo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: center;
    justify-self: center;
    width: 35%;
}

.iconipsum {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.icontwohundred {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
}

.iconninehundred {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 400;
    height: 83; */
    /* gap: 16px; */
    opacity: 1;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 16px;
    background: #FFFFFF;
    align-items: center;
}

.iconninehundredtwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 400;
    height: 83; */
    /* gap: 16px; */
    opacity: 1;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 16px;
    background: #f1f0f0;
    align-items: center;
}

.amacbooktwo p {
    font-size: 14px;
    color: black;
    margin: 0;
}

.amacbooktwo span {
    font-weight: 600;
}

.iconmacbook {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.amacbook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.amacbooktwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.amacbook span {
    font-weight: 600;
}

.amacbook p {
    margin: 0;
    color: #926060;
}

.savingplus {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.savingplus p {
    margin: 0;
}

.loremicon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.allicon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.allicon span {
    color: #5BB5A2;
}

.laptopplus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.laptopfourhundred {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.laptopfourhundred img {
    width: 170px;
}

.newfourhundred {
    display: flex;
    flex-direction: column;
}

.newfourhundred span {
    font-weight: 600;
}

.newfourhundred p {
    font-size: 14;
    color: grey;
}

.notificationavailable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notificationicon {
    display: flex;
    flex-direction: column;
}

.notificationicontwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.notificationicon p {
    margin: 0;
}

.notificationicontwo p {
    margin: 0;
    text-align: center;
}

.webflowwide {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.webflowpay {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.webcoin {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.toolswide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accountcards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 400px;
    justify-self: center;
}

.testimonialsaasistant {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.testimonialusers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconusers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
}

.ratedusers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.ratedusers p {
    margin-bottom: 10px;
}

.ratedusersfigure {
    color: #89cbbd;
}

.iconassistant {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iconsales {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.iconfisher {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 348px;
    height: 330px;
    gap: 15px;
    opacity: 1;
    border-radius: 10px;
    padding: 28px;
    border-width: 2px;
    border: 2px solid #E8E8E8
}

.iconfisherfive {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 348px;
    height: 360px;
    gap: 15px;
    opacity: 1;
    border-radius: 10px;
    padding: 28px;
    border-width: 2px;
    border: 2px solid #E8E8E8
}

.iconfisherfour {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -95px;
    width: 348px;
    height: 330px;
    gap: 15px;
    opacity: 1;
    border-radius: 10px;
    padding: 28px;
    border-width: 2px;
    border: 2px solid #E8E8E8
}

.iconfishertwo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 348px;
    height: 430px;
    gap: 15px;
    opacity: 1;
    border-radius: 10px;
    padding: 28px;
    border-width: 2px;
    border: 2px solid #E8E8E8
}

.iconfisherspan {
    font-size: 20px;
    font-weight: 600;
}

.iconfisherp {
    line-height: 160%;
    margin: 0;
    font-size: 15px;
}

.codyassistant {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.codyassistant p {
    color: darkgray;
    font-size: 14px;
    margin: 0;
}

.onesevenhundred {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 1200;*/
    height: 500px;

    margin-top: 100px;
    padding-top: 96px;
    padding-right: 76px;
    /* padding-bottom: 96px; */
    padding-left: 76px;
    /* gap: 138px; */
    opacity: 1;
    border-radius: 20px;
    background: #5BB5A2;
}

.onesevenhundred img {
    width: 50%;
    /* width: 380; */
    /* height: 800px; */
    opacity: 1;
    border-radius: 35px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 10px;
    /* margin-top: 100px; */
}

.oneplay {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.oneappbank {
    display: flex;
    flex-direction: column;
}

.onesevenhundredappleplay {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 60%;
    margin-top: 15px;
}