* {
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    font-style: normal;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
    font-family: "poppins", sans-serif;
    font-style: normal;

}

/* .headericonwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: aqua;
} */

footer {
    padding-left: 120px;
    padding-right: 120px;
    font-family: "poppins", sans-serif;
    font-style: normal;
}

.indexcenter {
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.indexcentertwo {
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #E8F2EE;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: rgb(3, 198, 155);
}

.logacc {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: flex-end; */
}

nav a {
    width: 87;
    height: 43;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    opacity: 1;
    border-radius: 6px;
    color: black;
}

.compareicon {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.topnav {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    width: 70%;
}

a.icon {
    display: none;
}

.logacclogin {
    color: #5BB5A2;
    width: 43;
    height: 18;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;

}

.logaccopenaccount {
    background: #5BB5A2;
    height: 39;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 10px;
    opacity: 1;
    border-radius: 6px;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.bankingvisa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.bankingvisa img {
    width: 40%;
}

.bankingcards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.bhere {
    width: 80%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
}

.onebanking {
    width: 70%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 55px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
}

.onebankingtwo {
    width: 90%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
}

.onebankingthree {
    width: 45%;
    height: 220;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: -3%;
}

.loremicon p {
    width: 45%;
    opacity: 1;
    font-size: 15.5px;
    font-weight: 500;
    font-style: Medium;
    /* font-size: 48px; */
    line-height: 160%;
    letter-spacing: -3%;
}

.bankingcards p {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0%;
}

.sendlorem p {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0%;
}

.instantbanking {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.instantwide {
    display: flex;
    flex-direction: row;
    /* gap: 80px; */
    width: 100%;
    justify-content: space-between;
}

.iconinstant {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.iconinstant span {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0%;
}

.opancards {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.opancardsspan {
    color: #FFFFFF;
    background: #5BB5A2;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;
    width: 166;
    height: 50;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 10px;
    opacity: 1;
    border-radius: 6px;
}

.ccardicon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ccardicon span {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;
    width: 166;
    height: 50;
    padding-top: 16px;
    padding-right: 18px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 10px;
    opacity: 1;
    color: #5BB5A2;
}

.oneaccount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oneaccount img {
    width: 35%;
    height: 70%;
}

.oneturpis {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
}

.intantturpis {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.iconturpise {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    /* height: 300px; */
    gap: 16px;
    opacity: 1;
    border-radius: 16px;
    border-width: 2px;
    padding: 22px;
    border: 2px solid #E8E8E8
}

.iconturpise span {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -3%;
}

.iconturpise p {
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0%;
}

.sendpaypal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sendlorem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.iconlorem {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.iconipsum {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.icontwohundred {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
}

.iconninehundred {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 400;
    height: 83; */
    /* gap: 16px; */
    opacity: 1;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 16px;
    background: #FFFFFF;
    align-items: center;
}

.iconmacbook {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.amacbook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.amacbook span {
    font-weight: 600;
}

.amacbook p {
    margin: 0;
    color: #926060;
}

.savingplus {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.savingplus p {
    margin: 0;
}

.loremicon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.allicon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.allicon span {
    color: #5BB5A2;
}

.laptopplus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.laptopfourhundred {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.laptopfourhundred img {
    width: 170px;
}

.newfourhundred {
    display: flex;
    flex-direction: column;
}

.newfourhundred span {
    font-weight: 600;
}

.newfourhundred p {
    font-size: 14;
    color: grey;
}